{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Домашняя страница {% endblock %}
{% block content %}
<h1 class="main_h">Это практика по джанго</h1>

<div class="content">
<p class="main_text">адание 1: Использование встроенного кэша Django
Создайте новое Django приложение. Назовите его, например, cache_example.
Создайте простую модель. Например, модель Post с полями title и content.
Создайте представление, которое выводит список всех постов.
Добавьте кэширование на уровне представления. Используйте декоратор @cache_page для кэширования результатов представления на 60 секунд.
Добавьте страницу, где можно увидеть список всех постов, и убедитесь, что кэширование работает.

Задание 2: Кэширование фрагментов шаблона

Используйте созданное приложение из задания 1.
Измените шаблон post_list.html, добавив кэширование фрагмента списка постов на 30 секунд.
Проверка работы:

Запустите сервер и откройте страницу со списком постов.
Добавьте новый пост через Django Admin или через командную строку.
Перезагрузите страницу со списком постов и убедитесь, что новый пост не отображается до тех пор, пока не истечет время кэша фрагмента (30 секунд).


И задание со * Использование низкоуровневого кэширования и кэширование с зависимостями


Создайте новое Django приложение или используйте существующее из предыдущих заданий.
Добавьте новую модель Category с полями name и description.
Свяжите модель Post с моделью Category через ForeignKey.
Создайте представление, которое выводит список постов по категориям.
Используйте низкоуровневое кэширование в этом представлении, чтобы кэшировать список постов для каждой категории отдельно.
Реализуйте сигнал, который будет очищать кэш при добавлении, обновлении или удалении поста.


Проверка работы:
Запустите сервер и откройте страницу с постами по категориям.
Добавьте, измените или удалите пост через Django Admin или командную строку.
Перезагрузите страницу и убедитесь, что кэш обновляется при изменении данных.</p>

</div>

{% endblock %}